*{margin: 0; padding: 0;} 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
}
@font-face {
    font-family: 'ramsteinzregular';
    src: url('../fonts/ramsteinz-webfont.eot');
    src: url('../fonts/ramsteinz-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ramsteinz-webfont.woff2') format('woff2'),
         url('../fonts/ramsteinz-webfont.woff') format('woff'),
         url('../fonts/ramsteinz-webfont.ttf') format('truetype'),
         url('../fonts/ramsteinz-webfont.svg#ramsteinzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.font-ram{
	font-family: 'ramsteinzregular';
}
.topbar {
	height: 30px;
	background: #2c3e50;
}
.topbar p {
	color: #ffffff;
	font-size: 12px;
	line-height: 30px;
}
.topbar p i{
	margin-right: 10px;
	margin-left: 30px;
}
.nav-bg{
	height: 80px;
	border-bottom: 1px solid #f2f2f2;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.navbar-brand{
	padding: 0;
	margin: 0;
}
.nav-bg .navbar-nav .nav-item .nav-link{
	font-size: 14px;
	color: #2c3e50;
	font-weight: 900;
	padding: 0;
	height: 80px;
	line-height: 80px;
	text-transform: uppercase;
	margin-left: 20px;
	box-sizing: border-box;
}
.nav-bg .navbar-nav .nav-item .nav-link:hover,
.nav-bg .navbar-nav .active .nav-link,
.nav-bg .navbar-nav .active .nav-link:hover, .nav-bg .navbar-nav .nav-item .social-link:hover{
	color: #fcb040;
	border-bottom: 5px solid #fcb040;
}
.nav-bg .navbar-nav .nav-item .social-link{
	margin-left:5px;
}
.nav-bg .navbar-nav .nav-item .social-link:hover {
	border-bottom: none;
}
.top-footer	{
	padding-top: 80px;
	padding-bottom: 60px;
	background: #34495e;
	color: #95a5a6;
	font-size: 14px;
}
.logo-white{
	margin-bottom: 10px;
}
.footer-des{
	line-height: 1.4;
	margin-bottom: 20px;
}
.social i{
	margin-right: 10px;
}
.social i:hover{
	color: #fff;
}
.link-footer-head{
	font-size: 24px;
	font-weight: 700;
	border-top: 2px solid #fcb040;
	color: #fff;
	padding-top: 10px;
	margin-bottom: 30px;
	text-transform: uppercase;
	display: inline-block;
}
.top-footer ul li{
	list-style: none;
	margin-bottom: 20px;
}
.top-footer ul li a{
	color: #95a5a6;
	text-decoration: none;
}
.top-footer ul li:hover a{
	color: #fcb040;
}
.top-footer ul li:hover a:before{
	content: "\f178";
	font-family: "FontAwesome";
	margin-right: 5px;
}
.bot-footer{
	height: 80px;
	background: #10202f;
	line-height: 80px;
	color: #fff;
}
.bot-footer a{
	color: #fcb040;
	text-decoration: none;
}
/*Slider*/
.overlaybg{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #ef4036 0%, #fcb040 100%);
    opacity: 0.6;
}
h3.font-ram{
	color:#fff;
	font-size: 50px;
	margin-bottom: 20px;
}
.carousel-item h1{
	color: #fff;
	font-weight: 900;
	font-size: 60px;
	margin-bottom: 30px;
}
#header .carousel-item .btn-info{
	background: transparent;
	border: 3px solid #fff;
	border-radius: 0;
}
#header .carousel-indicators{
	bottom: 80px;
	width: 40px;
	margin-left: -40px;
}
#header .carousel-indicators .active {
    width: 0px;
    height: 0px;
    margin: 0;
    background-color: transparent;
}
#carousel-example-generic{
	top: -4px;
}
/*section*/
.section {
	padding-top: 80px;
	padding-bottom: 80px;
}
h1.section-tittle{
	font-size: 32px;
	font-weight: 900;
	margin-bottom: 15px;
	color: #34495e;
	text-transform: uppercase;
}
h3.sub-tittle{
	font-family: "ramsteinzregular";
	font-size: 32px;
	color: #fcb040;
	margin-bottom: 30px;
}
.section .line-3 {
	margin: 0 auto;
	margin-bottom: 30px;
}
.line-3{
	width: 90px;
	height: 3px;
	background: #fcb040;
	margin-bottom: 30px;
}
.section p, .feature p{
	color: #7f8c8d;
	line-height: 1.4;
	font-size: 14px;
}
.bg-secondary{
	background: #fcb040;
}
.bg-secondary h1.section-tittle, .bg-secondary h3.sub-tittle, .bg-secondary p {
	color: #fff;
}
.bg-secondary .line-3{
	background: #fff;
}
.bg-secondary img{
	height: 100px;
}
.service-tittle{
	font-size: 24px;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 40px;
}
.bg-secondary .service-tittle{
	color: #fff;
}
.feature div[class^="col-sm-"] {
	padding: 0;
}
.menu div[class^="col-sm-"] {
	padding: 0;
}
.table-display{
	display: table;
}
.feature-food{
	display: table-cell;
	vertical-align: middle;
	padding-left: 80px;
	padding-right: 80px;
}
.food-action{
	margin-top: 30px;
}
.food-action i.fa{
	margin-bottom: 10px;
	margin-left: 25px;
}
.food{
	position: relative;
	overflow: hidden;
}
.food .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-image: linear-gradient(to bottom, #434343 0%, black 100%);
	opacity: 0.6;
	transition: 0.4s;
	
}
.food .food-action{
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	z-index: 3;
	transition: 0.4s;
	opacity: 0;
	visibility: hidden;
}
.food .food-action p{
	color: #fff;
}
.food .food-action i.fa{
	margin-left: 0;
	color: #fff;
}
.food-tittle{
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.food:hover .shadow{
	background: #fcb040;
	opacity: 1;
}
.food:hover .food-action{
	opacity: 1;
	visibility: visible;
}
.dotted{
	display: inline-block;
	width: 242px;
	border-bottom: 2px dotted #ccc;
}
.one-menu {
	margin-bottom: 20px;
}
.one-menu p{
	font-size: 14px;
	color:#2c3e50;
}
.one-menu a{
	font-weight: 700;
	color:#2c3e50;
	text-decoration: none;
}
.one-menu p.menu-des{
	font-size: 12px;
	color: #7f8c8d;
	margin-top: 5px;
}
.quote p{
	color: #fff;
	font-size: 14px;
	line-height: 1.4;
}
.quote .carousel-control{
	background: transparent;
}
.booking input{
	border-radius: 0;
	font-size: 14px;
}
.booking input:focus {
	border-color: #fcb040;
}
.booking .btn-default{
	border-radius: 0;
	background: #fcb040;
	color: #fff;
	font-weight: 700;
	margin-top: 30px;
}
.menu p{
	color: #7f8c8d;
    line-height: 1.4;
    font-size: 14px;
}
.menu .right {
	display: table;
	position: relative;
	height: calc(100vw/2);
}
.menu .right .content{
	height: calc(80vw/2);
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	border: 3px solid #fcb040;
	box-sizing: border-box;
	padding: 100px;
	box-sizing: border-box;
	top: calc(10vw/2);
	left: -80px;
	right: 80px;
}
.menu .left .content{
	height: calc(80vw/2);
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	border: 3px solid #fcb040;
	box-sizing: border-box;
	padding: 100px;
	box-sizing: border-box;
	top: calc(10vw/2);
	right: -80px;
	left: 80px;
	z-index: 2;
}
.favourites{
	height: 100%;
	position: relative;
}
.favourites .shadow	{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	background-image: linear-gradient(to bottom, #434343 0%, black 100%);
	opacity: 0.6;
	padding-top: 45%;
	color: #fff;
	box-sizing: border-box;
	visibility: hidden;
}
.favourites .shadow h1.name{
	font-weight: 700;
	font-size: 18px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.favourites:hover .shadow{
	visibility: visible;
}
.big-chef{
	width: 100%;
	height: 60vw;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.big-chef .big {
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.big-chef .shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #333;
	opacity: 0.6;
	z-index: 2;
}
.big-chef .chef-infomation {
	position: absolute;
	width: 45%;
	height: 100%;
	top: 10vw;
	left: 10vw;
	z-index: 3;
	color: #fff;
}
.chef-infomation .chef-name{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.chef-infomation .chef-position{
	font-size: 18px;
	margin-bottom: 20px;
}
.chef-infomation .chef-infomation{
	font-size: 14px;
	line-height: 1.4;
}
.small-chef{
	width: 100%;
	height: calc(100vw/8);
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.small-chef img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.small-chef .shadow{
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: 0.4s;
}
.small-chef .small-info{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 20%;
	z-index: 3;
	color: #fff;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}
.small-chef .name {
	font-weight: 700;
	text-transform: uppercase;
}
.small-chef:hover .shadow{
	background-image: linear-gradient(to bottom, #ef4036 0%, #fcb040 100%);
	opacity: 0.6; 
}
.small-chef:hover .small-info {
	opacity: 1;
	visibility: visible;
}